html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: aqua;
    display: table-cell;
    vertical-align: middle;
}

p {
    font-family: 'Times New Roman', Times, serif;
    size: 14;
    width: 700px;
    text-align: justify;
  } 
  .button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: blue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px blueviolet;
  }
  
  .button:hover {background-color: darkblue}
  
  .button:active {
    background-color: darkblue;
    box-shadow:  0 2px blueviolet ;
    transform: translateY(4px);
  }